# Node modules
node_modules/

# Expo & Metro
.expo/
.expo-shared/
web-build/
dist/
ios/
android/

# Build artifacts
*.log
*.tmp
*.swp
*.lock
*.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# SQLite database
*.db

# Editor & OS files
.vscode/
.DS_Store
Thumbs.db

# Expo generated
expo-env.d.ts
