# Node modules
node_modules/

# Expo & Metro bundler
.expo/
.expo-shared/
web-build/
dist/
ios/
android/

# Build artifacts
*.log
*.tmp
*.swp
*.lock
*.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# SQLite database
*.db

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
